/* ==========================================================================
Définition des polices personnalisées
========================================================================== */
@font-face {
	font-family: 'robotomedium';
	src: url('./fonts/Roboto-Medium-webfont.eot');
	src: url('./fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Roboto-Medium-webfont.woff') format('woff'),
		url('./fonts/Roboto-Medium-webfont.ttf') format('truetype'),
		url('./fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotobold';
	src: url('./fonts/Roboto-Bold-webfont.eot');
	src: url('./fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Roboto-Bold-webfont.woff') format('woff'),
		url('./fonts/Roboto-Bold-webfont.ttf') format('truetype'),
		url('./fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ==========================================================================
Eléments principaux de la page
========================================================================== */
body {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'robotomedium', Arial, sans-serif;
	font-size: 0.9em;
	color: #777777;
	margin: 0;
}

h1 {
	font-family: 'robotobold', Arial, sans-serif;
	font-size: 2.2em;
	color: #ffffff;
	margin-bottom: 20px;
}

h2 {
	font-family: 'robotobold', Arial, sans-serif;
	font-size: 3em;
	color: #272727;
	margin-bottom: 20px;
}

h3 {
	font-family: 'robotomedium', Arial, sans-serif;
	font-size: 1.4em;
	color: #272727;
	margin: 10px auto;
}

h4 {
	font-family: 'robotomedium', Arial, sans-serif;
	font-size: 1.0em;
	color: #ffffff;
	text-align: left;
	margin: 5px 0px 2px 10px;
}

.body__text_bold {
	font-weight: bold;
}

.body__text_underline {
	text-decoration: underline dotted;
}

/* Boutons */
.button {
	font-family: 'robotobold', Arial, sans-serif;
	font-size: 1.0em;
	color: #ffffff;
	background-color: #5CADD3;	
	border: none;
	border-radius: 2px;
	padding: 10px 15px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border-bottom: 4px solid #468CAD;
	cursor: pointer;
}

.button:hover {
	background-color: #468CAD;
	color: #ffffff;
}

/* Icône de séparation */
.separator {
	position: relative;
	width: 160px;
	height: 15px;
	margin: auto;
	color: #5CADD3;
	border-top: 2px solid #ECECEC;
}

.separator__icon {
	position: absolute;
	margin-top: -13px;
	margin-left: -10px;
	border: 5px solid #ffffff;
	border-radius: 50%;
}

/* Input */
.input {
	width: 100%;
	padding: 8px;
	margin: 10px 0;
	border: 1px solid #777777;
	border-radius: 4px;
	box-sizing: border-box;
}

/* Section */
.custom-section {
	margin: 0 auto;
	padding-top: 92px;
}

/* ==========================================================================
Header
========================================================================== */
.header {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 92px;
	z-index: 999;
}

.header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;
	margin: auto;
	padding: 15px 0px;
}

.logo {
	z-index: 998;
}

/* Menu de navigation principal */
.menu {
	display: flex;
	list-style: none;
}

.menu__link {
	color: #777777;
	font-size: 1em;
	font-family: 'robotomedium', Arial, sans-serif;
	text-decoration: none;
	margin-right: 25px;
	padding-top: 31px;
}

.menu__link:hover {
	color: #636363;
	border-top: 4px solid #5CADD3;
}

.menu__link_active {
	color: #636363;
	border-top: 4px solid #5CADD3;
}

.menu__input {
	display: none;
}

.menu__label {
	display: none;
}

/* ==========================================================================
Bannière
========================================================================== */
.slider {
	position: relative;
}

.slider__background {
	width: 100%;
	height: 100%;
}

.slider__text {
	position: absolute;
	width: 40%;
	top: 20%;
	left: 15%;
}

.slider__text_blue {
	color: #5CADD3;
}

.slider__text_white {
	color: #ffffff;
}

.slider__button {
	position: absolute;
	margin-top: 30px;
}

/* Chevrons du slider */
.chevron-left {
	position: absolute;
	width: 30px;
	height: 60px;	
	background: rgba(0, 0, 0, 0.2);
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	top: 50%;
	left: 0px;
	transform: translate(0, -50%);
	cursor: pointer;
}

.fa-chevron-left {
	position: absolute;
	color: #ffffff;
	top: 50%;
	left: 10px;
	transform: translate(0, -50%);
}

.chevron-right {
	position: absolute;
	width: 30px;
	height: 60px;	
	background: rgba(0, 0, 0, 0.2);
	border-top-left-radius: 30px; 
	border-bottom-left-radius: 30px;
	top: 50%;
	right: 0px;
	transform: translate(0, -50%);
	cursor: pointer;
}

.fa-chevron-right {
	position: absolute;
	color: #ffffff;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
}

/* Barre de progression */
.slider__progress-bar {
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
	height: 5px;
	margin: 0;
	padding: 0;
	border: none;
	background: rgba(0, 0, 0, 0.2);
}

.slider__progress-bar_progress {
	width: 15%;
	height: 5px;
	background: #5CADD3;
}

/* ==========================================================================
Nos services
========================================================================== */
.services {
	width: 90%;
	padding-bottom: 50px;
}

.services__title {
	text-align: center;
	width: 50%;
	margin: auto;
}

.services__block {
	display: flex;
	margin-top: 20px;
}

.services__image {
	flex: 1;
	text-align: center;
}

.services__main-content {
	flex: 1;
}

.services__content {
	display: flex;
	margin-top: 30px;
}

.services__text {
	text-align: justify;
}

/* Icônes */
.services__icon {
	width: 70px;
	height: 70px;
	color: #5CADD3;
	display: flex;
	margin: auto 30px;
	justify-content: space-between;
	align-items: center;
}

.main-icon {
	border: 3px solid #ECECEC;
	border-radius: 50%;
	padding : 20px;
}

.fa-circle {
	margin-left: -15px;
	border: 5px solid #ffffff;
	border-radius: 50%;
}

/* ==========================================================================
Nos projets
========================================================================== */
.projets {
	text-align: center;
	background-color: #F5F5F5;
	padding-bottom: 50px;
}

/* Menu de sélection de la catégorie */
.projets__input {
	display: none;
}

.projets__text {
	margin: 10px 0px 50px 0px;
}

.projets__label {
	cursor: pointer;
	color: #777777;
	font-size: 1em;
	font-family: 'robotomedium', Arial, sans-serif;
	background-color: #E5E5E5;
	position: relative;
	margin: 0px -2px 0px -2px;
	padding: 12px 15px;
}

.projets__label:hover {
	color: #ffffff;
	background-color: #5CADD3;
	border-bottom: 3px solid #468CAD;
}

.projets__label:after {
	content: "";
	height: 0;
	width: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #468CAD;
	opacity: 0;
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
}

.projets__label:hover:after {
	opacity: 1;
}

.projets__label_border-radius-left {
	border-radius: 5px 0 0 5px;
}

.projets__label_border-radius-right {
	border-radius: 0 5px 5px 0;
}

.projets__label_active {
	color: #ffffff;
	background-color: #5CADD3;
	border-bottom: 3px solid #468CAD;
position: relative;
}

.projets__label_active:after {
	content: "";
	height: 0;
	width: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #468CAD;
	position: absolute;
	opacity: 1;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
}

/* Sélection de la catégorie */	
input#select-creative:checked ~ .projets__items li:not(.creative), input#select-corporate:checked ~ .projets__items li:not(.corporate), input#select-portfolio:checked ~ .projets__items li:not(.portfolio) 
{
	opacity: 0.1;
}

/* Les projets */
.projets__items {
	width: 80%;
	margin: 50px auto;
}

.projets__item {
	display: inline-block;	
	padding: 10px;
}

.projets__link {
	cursor: pointer;
}

.projets__figure {
	position: relative;
	overflow: hidden;
	margin: 0px;
}

.projets__img {
	width: 225px;
	height: 150px;
}

.projets__figcaption {
	position: absolute;
	width: 100%;
	height: 35%;
	bottom: -50%;
	background: rgba(0, 0, 0, 0.5);
	transition: 1s;
}

.projets__figure:hover .projets__figcaption {
	bottom: 4px;
}

.projets__icon {
	position: absolute;
	color: #ffffff;
	border: 2px solid #ffffff;
	background-color: #5CADD3;
	border-radius: 50%;
	padding: 8px;
	margin-top: -16px;
	margin-left: 65px;
}

.projets__figcaption_text-white {
	color: #ffffff;
	text-align: left;
	margin-left: 10px;
}

/* ==========================================================================
Contact
========================================================================== */
.contact__background {
	position: absolute;
	width: 100%;
	height: 600px;
	background: #5CADD3;
}

.contact__iframe {
	position: relative;
	width: 100%;
	height: 600px;
	border: 0;
	opacity: 0.6;
}

.contact__form {
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(0, -50%);
	width: 20%;
	background-color: rgba(242, 246, 248);
	padding: 10px 15px;
}

/* ==========================================================================
Responsive design
========================================================================== */
@media (max-width: 767px) {
	.logo {
		position: fixed;
		top: 15px;
		left: 5%;
		z-index: 998;
	}

	.menu__input {
		opacity: 0;
		z-index: -1;
	}

	.menu__label {
		display: block;
		position: fixed;
		top: 31px;
		right: 5%;
		height: 30px;
		width: 30px; 
		z-index: 997;
		cursor: pointer;
	}

	.bars {
		position: absolute;
		display: block;
		width: 100%;
		height: 4px;
		top: 0;
		left: 0;
		background: #3491B2;
		transition: 0.5s;
	}

	.bar-1 {
		top: 2px;
	}

	.bar-2 {
		top: 13px;
	}

	.bar-3 {
		top: 24px;
	}
	
	.menu__nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 92px;
		z-index: 996;
		background: #ffffff;
		transition: 0.5s;
		transition-delay: 0.5s;
		overflow: hidden;
	}

	.menu {
		display: block;
		text-align: center;
		position: absolute;
		top: 30%;
		left: 20%;
		right: 20%;
		padding: 0;
	}

	.menu__item {
		margin: 10px 0px;
		opacity: 0;
		transition: 0.5s;
		transition-delay: 0s;
	}

	.menu__link {
		margin: 0px;
		padding: 0px;
	}

	.menu__link:hover {
		color: #636363;
		border-top: none;
	}

	.menu__link_active {
		color: #777777;
		border-top: none;
	}

	.menu__input:checked ~ .menu__nav { 
		height: 40%;
		transition-delay: 0s;
	}

	.menu__input:checked ~ .menu__nav .menu .menu__item { 
		opacity: 1;
		transition-delay: 0.5s;
	}

	.menu__input:checked ~ .menu__label .bar-1 {
		transform: rotate(405deg);
		top: 50%;
	}

	.menu__input:checked ~ .menu__label .bar-2 {
		opacity: 0;
	}

	.menu__input:checked ~ .menu__label .bar-3 {
		transform: rotate(-405deg);
		top: 50%;
	}

	.slider__text {
		position: absolute;
		width: 80%;
		top: 5%;
		left: 12%;
	}

	h1 {
		font-size: 0.8em;
		text-shadow: 2px 2px 4px #000000;
		margin-bottom: 4px;
	}

	.slider__text_white {
		font-size: 0.6em;
		text-shadow: 2px 2px 4px #000000;
		padding: 0;
		margin: 0;
	}

	.slider__button {
		margin-top: 8px;
		font-size: 0.7em;
		padding: 5px;
	}

	.services__title {
		width: 100%;
	}

	.services__block {
		flex-direction: column;
	}

	.services__image_responsive {
		width: 100%;
		height: auto;
	}

	.services__content {
		flex-direction: column;
		text-align: center;	
		padding: 20px 5%;
		margin-top: 0px;
	}

	.services__text {
		text-align: center;
	}

	.services__icon {
		margin: 10px auto;
	}

	.projets__label {
		padding: 4px 8px;
	}

	.projets__items {
		padding: 0;
	}

	.contact__background {
		position: absolute;
		width: 80%;
		height: 600px;
		margin: 0 10%;
	}

	.contact__form {
		position: relative;
		top: 0;
		left: 0;
		width: 90%;
		transform: none;
		margin: 30px auto;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.logo {
		position: fixed;
		top: 15px;
		left: 5%;
		z-index: 998;
	}

	.menu__input {
		opacity: 0;
		z-index: -1;
	}

	.menu__label {
		display: block;
		position: fixed;
		top: 31px;
		right: 5%;
		height: 30px;
		width: 30px; 
		z-index: 997;
		cursor: pointer;
	}

	.bars {
		position: absolute;
		display: block;
		width: 100%;
		height: 4px;
		top: 0;
		left: 0;
		background: #3491B2;
		transition: 0.5s;
	}

	.bar-1 {
		top: 2px;
	}

	.bar-2 {
		top: 13px;
	}

	.bar-3 {
		top: 24px;
	}
	
	.menu__nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 92px;
		z-index: 996;
		background: #ffffff;
		transition: 0.5s;
		transition-delay: 0.5s;
		overflow: hidden;
	}

	.menu {
		display: block;
		text-align: center;
		position: absolute;
		top: 30%;
		left: 20%;
		right: 20%;
		padding: 0;
	}

	.menu__item {
		margin: 10px 0px;
		opacity: 0;
		transition: 0.5s;
		transition-delay: 0s;
	}

	.menu__link {
		margin: 0px;
		padding: 0px;
	}

	.menu__link:hover {
		color: #636363;
		border-top: none;
	}

	.menu__link_active {
		color: #777777;
		border-top: none;
	}

	.menu__input:checked ~ .menu__nav { 
		height: 30%;
		transition-delay: 0s;
	}

	.menu__input:checked ~ .menu__nav .menu .menu__item { 
		opacity: 1;
		transition-delay: 0.5s;
	}

	.menu__input:checked ~ .menu__label .bar-1 {
		transform: rotate(405deg);
		top: 50%;
	}

	.menu__input:checked ~ .menu__label .bar-2 {
		opacity: 0;
	}

	.menu__input:checked ~ .menu__label .bar-3 {
		transform: rotate(-405deg);
		top: 50%;
	}

	.slider__text {
		position: absolute;
		width: 50%;
		top: 5%;
		left: 5%;
	}

	h1 {
		font-size: 2.0em;
	}

	.slider__text_white {
		font-size: 0.9em;
		padding: 0;
		margin: 0;
	}

	.services__title {
		width: 60%;
	}

	.services__block {
		flex-direction: column;
	}

	.services__image_responsive {
		width: 100%;
		height: auto;
	}

	.services__content {
		flex-direction: column;
		text-align: center;	
		padding: 20px 5%;
		margin-top: 0px;
	}

	.services__text {
		text-align: center;
		width: 75%;
		margin: auto;
	}

	.services__icon {
		margin: 10px auto;
	}

	.projets__label {
  		padding: 4px 8px;
	}

	.projets__items {
		padding: 0;
	}

	.contact__background {
		position: absolute;
		width: 80%;
		height: 600px;
		margin: 0 10%;
	}

	.contact__form {
		position: relative;
		top: 0;
		left: 0;
		width: 50%;
		transform: none;
		margin: 30px auto;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.slider__text {
		position: absolute;
		width: 50%;
		top: 10%;
		left: 5%;
	}

	.services__title {
		width: 60%;
	}

	.services__block {
		flex-direction: column;
	}

	.services__image_responsive {
		width: 100%;
		height: auto;
	}

	.services__content {
		flex-direction: column;
		text-align: center;	
		padding: 20px 5%;
		margin-top: 0px;
	}

	.services__text {
		text-align: center;
		width: 70%;
		margin: auto;
	}

	.services__icon {
		margin: 10px auto;
	}
}